.Login {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login-Form{
    max-height: 100%;
    max-width: 100%;
    text-align: left;
}

.Logo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.Logo-login img {
}

.Logo-login-text {
    display: flex;
    text-decoration: none;
    color: #6991c7;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: #ddd 0 0 4px;
    margin: 0;
}

.LoginContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.RegisterContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.leftSideLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;

}

.imgContent {
    max-width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
    margin-left: -1.5%;
}

.imgContentRegister {
    max-width: 100%;
    height: 20%;
    position: absolute;
    top: 10%;
    margin-left: 13%;
}

.rightSideLogin {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    background-color: #ffffff;
}
.registerSide {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding: 10px;

}

.Ver-Form2{
    opacity: 1;
    transition: 2s ;
}


.Login-box {
    position: relative;
    width: 250px;
    margin-bottom: 15px;
}


.Login-box input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
}

.register-box {
    position: relative;
    width: calc(50% - 15px);
    margin-bottom: 15px;
}

.Login-box span {
    position: absolute;
    left: 0;
    padding: 10px;
    font-size: 16px;
    color: #777;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
    top: 0px;
}

.Login-box input:focus~span,
.Login-box input:valid~span {
    color: #3b71ca;
    transform: translate(10px, -10px);
    background-color: white;
    font-size: 12px;
    padding: 0 10px;
    transition: 0.5s;
}

.Login-box input:focus {
    border: 1px solid #3b71ca;
}

.Login-button {
    padding: 10px 20px;
    background-color: #33b2e5;
    color: white;
    border-radius: 5px;
    border: none
}

.Login-button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #5f5f5f;
    background-color: #33b3e7;
}

.Login-button1 {
    margin-left: 25%;
    padding: 10px 20px;
    background-color: #33b2e5;
    color: white;
    border-radius: 5px;
    border: none
}

.Login-button1:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #5f5f5f;
    background-color: #33b3e7;
}

.Register-button {
    margin-left: 16%;
    padding: 10px 50px;
    background-color: #33b2e5;
    color: white;
    border-radius: 5px;
    border: none
}

.Register-button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #5f5f5f;
    background-color: #33b3e7;
}

.Register-button1 {
    margin-left: -31%;
    padding: 10px 15px;
    background-color: #33b2e5;
    color: white;
    border-radius: 5px;
    border: none
}

.Register-button1:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #5f5f5f;
    background-color: #33b3e7;
}

.registerAllInputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.error{
    color: red;
}

.Dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}
  
.DashboardContainer {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.rightSideDashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
.Dashboard-form {
    text-align: center;
}
  
.Dashboard-imgContent {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
  
.DashboardTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    color: #434345;
    text-align: center;
    margin-right: 5%;
}
  
.Dashboard-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
  
.Dashboard-box div {
    margin-bottom: 10px;
}
  
.Dashboard-box label {
    font-size: 16px;
}
  
.rightSideDashboard button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #33b2e5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.rightSideDashboard button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #5f5f5f;
    background-color: #33b3e7;
}
  
.rightSideDashboard button:focus {
    outline: none;
}

.Dashboard-box img {
    border: 1px solid #5e5e5e;
}

.loginTitle{
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    color: #434345;
}

.registerTitle{
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    color: #434345;
    text-align: center;
    margin-right: 5%;
}